.cont{
    background-color: rgb(231, 231, 48);

}

.wrapper{
    padding: 30px;
    background-color: rgb(231, 231, 48);
    text-align: center;
}

h3{
    font-weight: bolder;
    color: red;
    text-transform: uppercase;
    margin-bottom: 5px;
}